body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    font-family: Arial, Helvetica, sans-serif;
}

#calculator {
    background-color: hsl(0, 0%, 15%);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
    max-width: 90vw;
    overflow: hidden;
    padding: 10px;
}

#display {
    width: 100%;
    font-size: 4rem;
    padding: 20px;
    text-align: left; /* Aligns text to the left */
    border: none;
    border-bottom: 2px solid hsl(0, 0%, 25%);
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 10px 10px 0 0;
}


#key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}

button {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: hsl(0, 0%, 50%);
    transform: scale(0.95);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}

.equals-btn {
    background-color: hsl(120, 100%, 40%);
    grid-column: span 2;
}

.equals-btn:hover {
    background-color: hsl(120, 100%, 50%);
}

.equals-btn:active {
    background-color: hsl(120, 100%, 60%);
    transform: scale(0.95);
}
